{:main sample.core
 :closure-defines {goog.DEBUG false}
 :optimizations :advanced
 :parallel-build true
 :verbose true
 :infer-externs true
 :output-dir "target/public/cljs-out/min"
 :output-to "target/public/cljs-out/min-main.js"
 :install-deps false
 :npm-deps false
 :language-out :ecmascript5 ;; see https://dev.clojure.org/jira/browse/CLJS-2376
 :foreign-libs [{:file "target/public/js-out/react.min.js"
                 :provides ["react"
                            "react-dom"
                            "react-dom-server"
                            "create-react-class"]
                 :global-exports {react React
                                  react-dom ReactDOM
                                  react-dom-server ReactDOMServer
                                  create-react-class createReactClass}}]}
